@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Car Rental Site</h2>
        <img src="~/images/car-rental-banner.jpg" />
    </div>
</div>