
@{
    ViewBag.Title = "Account Registration";
}



@section scripts{
    
<script src="~/Bindings/Models/AccountRegisterModel.js"></script>
<script src="~/Bindings/ViewModels/AccountRegisterViewModel.js"></script>
}

@section footerScript{
    angular.bootstrap(document.getElementById("registration"),['accountRegister']);
}

<h2>Register</h2>

<div ng-app="accountRegister" ng-controller="accountRegisterViewModel" id="registration">
    <br />
    @Html.Partial("~/Views/Shared/_ValidationErrors.cshtml")
    <br />
    
    <div ng-view></div>

</div>
