<div>
    <p class="input-group">
        <span class="input-group-addon" > First Name:</span>
        <input type="text" ng-model="accountModelStep1.FirstName" class="form-control" placeholder="First Name" />
    </p>
    <p class="input-group">
        <span class="input-group-addon"> Last Name:</span>
        <input type="text" ng-model="accountModelStep1.LastName" class="form-control" placeholder="Last Name" />
    </p>
    <p class="input-group">
        <span class="input-group-addon"> Address:</span>
        <input type="text" ng-model="accountModelStep1.Address" class="form-control" placeholder="Address" />
    </p>
    <p class="input-group">
        <span class="input-group-addon"> City:</span>
        <input type="text" ng-model="accountModelStep1.City" class="form-control" placeholder="City" />
    </p>

    <p class="input-group">
        <span class="input-group-addon"> State:</span>
        <input type="text" ng-model="accountModelStep1.State" class="form-control" placeholder="State" />
    </p>

    <p class="input-group">
        <span class="input-group-addon"> Zip Code:</span>
        <input type="text" ng-model="accountModelStep1.ZipCode" class="form-control" placeholder="Zip Code" />
    </p>
    <div>
        <a href="#" class="btn btn-info" ng-click="step2()">Next</a>
    </div>
</div>