<div>
    <p class="input-group">
        <span class="input-group-addon"> Login Email:</span>
        <input type="text" ng-model="accountModelStep2.LoginEmail" class="form-control" placeholder="Login Email" />
    </p>
    <p class="input-group">
        <span class="input-group-addon"> Password:</span>
        <input type="text" ng-model="accountModelStep2.Password" class="form-control" placeholder="Password" />
    </p>
    <p class="input-group">
        <span class="input-group-addon"> Confirm Password:</span>
        <input type="text" ng-model="accountModelStep2.PasswordConfirm" class="form-control" placeholder="Confirm Password" />
    </p>
   
    <div>
        <a href="#" class="btn btn-info" ng-click="previous()">Previous</a>
        <a href="#" class="btn btn-info" ng-click="step3()">Next</a>
    </div>
</div>