<div>
    <p class="input-group">
        <span class="input-group-addon"> Credit Card:</span>
        <input type="text" ng-model="accountModelStep3.CreditCard" class="form-control" placeholder="Credit Card" />
    </p>
    <p class="input-group">
        <span class="input-group-addon"> ExpDate:</span>
        <input type="text" ng-model="accountModelStep3.ExpDate" class="form-control" placeholder="ExpDate" />
    </p>
   

    <div>
        <a href="#" class="btn btn-info" ng-click="previous()">Previous</a>
        <a href="#" class="btn btn-info" ng-click="confirm()">Confirm</a>
    </div>
</div>