<div>
    <p class="input-group">
        <span class="input-group-addon">First Name</span>
        <span>{{accountModelStep1.FirstName}}</span>
    </p>
    <p class="input-group">
        <span class="input-group-addon">Last Name</span>
        <span>{{accountModelStep1.LastName}}</span>
    </p>

    <p class="input-group">
        <span class="input-group-addon">Address</span>
        <span>{{accountModelStep1.Address}}</span>
    </p>

    <p class="input-group">
        <span class="input-group-addon">City</span>
        <span>{{accountModelStep1.City}}</span>
    </p>

    <p class="input-group">
        <span class="input-group-addon">State</span>
        <span>{{accountModelStep1.State}}</span>
    </p>

    <p class="input-group">
        <span class="input-group-addon">Zip Code</span>
        <span>{{accountModelStep1.ZipCode}}</span>
    </p>

    <p class="input-group">
        <span class="input-group-addon">Login Email</span>
        <span>{{accountModelStep2.LoginEmail}}</span>
    </p>

    <p class="input-group">
        <span class="input-group-addon">Password</span>
        <span>{{accountModelStep2.Password}}</span>
    </p>


    <p class="input-group">
        <span class="input-group-addon">Confirm Password</span>
        <span>{{accountModelStep2.PasswordConfirm}}</span>
    </p>

    <p class="input-group">
        <span class="input-group-addon">Credit Card</span>
        <span>{{accountModelStep3.CreditCard}}</span>
    </p>

    <p class="input-group">
        <span class="input-group-addon">Exp Date</span>
        <span>{{accountModelStep3.ExptDate}}</span>
    </p>
    <div>
        <a href="#" class="btn btn-info" ng-click="previous()">Previous</a>
        <a href="#" class="btn btn-info" ng-click="createAccount()">Create Account</a>
    </div>
</div>